apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: whatsmypasswd-data
  namespace: whatsmypasswd
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
